
python-magic==0.4.27
requests==2.32.3

astor>=0.8.1

ChromeController==0.3.32

PySocks==1.7.1
dill==0.4.0
rabbitpy==2.0.1

netdisco==3.0.0
zeroconf==0.147.0

APScheduler==3.11.0
beautifulsoup4==4.13.4
cchardet==2.1.7
colorama==0.4.6
selenium==4.33.0
Faker==37.3.0
lxml==5.4.0
cachetools==6.0.0
pytz==2025.2
feedgen==1.0.0
feedparser==6.0.11
webrequest==0.0.78

msgpack-python==0.5.6

psutil==7.0.0

netifaces==0.11.0
cloudscraper==1.2.71

sqlalchemy_utils==0.41.2
ftfy
semantic
hiredis
redis
# vmprof

setproctitle
xxhash
cssutils
statsd
influxdb
parsedatetime
bleach

git+https://github.com/fake-name/unshortenit.git

## Testing requirements:
# nose
# coverage
