
python-magic==0.4.27
requests==2.32.3

astor>=0.8.1

ChromeController==0.3.26

PySocks==1.7.1
dill==0.3.9
rabbitpy==2.0.1

netdisco==3.0.0
zeroconf==0.135.0

APScheduler==3.10.4
beautifulsoup4==4.12.3
cchardet==2.1.7
colorama==0.4.6
selenium==4.25.0
Faker==30.0.0
lxml==5.3.0
cachetools==5.5.0
pytz==2024.2
feedgen==1.0.0
feedparser==6.0.11
webrequest==0.0.78

msgpack-python==0.5.6

psutil==6.0.0

netifaces==0.11.0
cloudscraper==1.2.71

sqlalchemy_utils==0.41.2
ftfy==6.2.3
semantic==1.0.3
hiredis==3.0.0
redis==5.1.0
# vmprof

setproctitle==1.3.3
xxhash==3.5.0
cssutils==2.11.1
statsd==4.0.1
influxdb==5.3.2
parsedatetime
bleach

git+https://github.com/fake-name/unshortenit.git

## Testing requirements:
# nose
# coverage
