
requests==2.22.0

astor>=0.6.0

ChromeController==0.3.10

PySocks==1.7.0
dill==0.3.0
rabbitpy==2.0.1

netdisco==2.6.0
zeroconf==0.23.0

APScheduler==3.6.1
beautifulsoup4==4.8.0
cchardet==2.1.4
colorama==0.4.1
selenium==3.141.0
Faker==2.0.0
lxml==4.4.1
cachetools==3.1.1
msgpack==0.6.1
pytz==2019.1
feedgen==0.7.0
feedparser==5.2.1

webrequest==0.0.56

psutil==5.6.3

netifaces==0.10.9

## Testing requirements:
# nose
# coverage
